*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif 'Times New Roman', Times, serif;
}
body{
    background-color: #FFDBDB;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{  
    padding: 20px;
    width: 30%;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
    display: block;
    background-color: #FFDDDD;
}
.container.active{
    display: none;
}
h2{
    color: gray;
    text-align: center;
}
.start_button,.restart{
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: blue;
    margin-left: 40%;
    margin-top: 5%;
    font-weight: bolder;
}
.question_container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
    display: none;
    background-color: #FFDDDD;
}
.question_container.active{
    display: block;
}
.question_details{
    display: flex;
    justify-content: space-between;
}
#question{
    text-align: left;
}
p{
    color: gray;
}
h3{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.results_container{
    padding: 20px;
    width: 40%;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
    display: none;
    background-color: #FFDDDD;
}
.results_container.active{
    display: block;
}
.btn_class{
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    border-radius: 8px;
    margin-top: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
    background-color: gray;
}
.btn_class.correct{
    background-color: #73F399;
}
.btn_class.incorrect{
    background-color: #F64242;
}